/* Add a black background color to the top navigation */
.topnav {
  background-color: #04AA6D;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #04AA6D;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: yellow;
  color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


.pagination {
  padding: 20px;
  width: 300px;
  margin: auto;
}


.dropdown {
  padding: 10px;
  border-radius: 4px;
}




.chart-container {
  padding: 10px;
  height: 400px;
  margin: auto;
}

.chart-controls>div {
  display: inline-block;
}

.chart-controls {
  width: 150px;
  margin: auto;
  padding: 10px 0;
}

.show-bar button {
  color: white;
  padding: 10px;
  border-radius: 4px;
  background-color: green;
}