{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/janatawifi-logo.jpg' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/main.js' %}"></script>
    <title>Stock Market App</title>
    <style>

    </style>
</head>

<body>

    <div class="topnav" id="myTopnav">
        <a href="{%url 'stockmarketapp:homepage' %}" class="active">Home</a>
        <a href="{%url 'stockmarketapp:add_data' %}">Add Data</a>
    </div>

    <h2>Stock Market App</h2>
    <h3>Chart</h3>

    <div class="chart-controls">
        <div class="trade-container">
            <select class="dropdown" id="trade_codes" onchange="changeLineColumn()">

                {% for trade_code in trade_codes%}
                <option value="{{ trade_code }}" {% if forloop.first %} selected {% endif %}>{{ trade_code }}</option>
                {% endfor %}
            </select>
        </div>
    </div>


    <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>


    <h3>Table Visualization</h3>
    <table class="stockmarketdata">
        <tr>
            <th>No.</th>
            <th>Date</th>
            <th>Trade Code</th>
            <th>High</th>
            <th>Low</th>
            <th>Open</th>
            <th>Close</th>
            <th>Volume</th>
            <th>Action</th>
        </tr>
    </table>

<!--    Design Footer-->
    <footer class="footer">
        <h3>&copy; Copyright Aditto Rehan</h3>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>
        let chartData, close_values, trade_code, volume, date;
        const config = {
            options: {
                scales: {
                    // Can configure scaling here
                    volume: {
                        position: 'right'
                    }

                },
                maintainAspectRatio: false
            }
        };
        const ctx = document.getElementById('myChart').getContext('2d');
        let stockChart;
        function drawChart() {
            const trade_code = document.getElementById("trade_codes").value
            $.ajax({
                method: 'GET',
                url: `chart-data/${trade_code}`,
                success: function (responeData) {
                    close_values = responeData.close;
                    volume = responeData.volume;
                    date = responeData.date;
                    open_values = responeData.open;
                    high = responeData.high;
                    low = responeData.low;
                    ids = responeData.id;
                    let table = document.querySelector(".stockmarketdata")
                    $(".stockmarketdata tr>td").remove();
                    for (let i = 0; i < ids.length; i++) {
                        let row = table.insertRow(i + 1)
                        let id_cell = row.insertCell(0),
                            date_cell = row.insertCell(1),
                            trade_cell = row.insertCell(2),
                            high_cell = row.insertCell(3),
                            low_cell = row.insertCell(4),
                            open_cell = row.insertCell(5),
                            close_cell = row.insertCell(6),
                            volume_cell = row.insertCell(7),
                            action_cell = row.insertCell(8);
                        id_cell.innerHTML = ids[i]
                        date_cell.innerHTML = date[i]
                        trade_cell.innerHTML = trade_code
                        high_cell.innerHTML = high[i]
                        low_cell.innerHTML = low[i]
                        open_cell.innerHTML = open_values[i]
                        close_cell.innerHTML = close_values[i]
                        volume_cell.innerHTML = volume[i]
                        action_cell.innerHTML = `<a class="update" href="dataform/${ids[i]}"> Update </a> <a class="delete" href="delete/${ids[i]}"> Delete </a>`

                    }

                    const volumeBarDataset =
                        config.data = {
                            labels: date,
                            datasets: [
                                {
                                    type: 'line',
                                    label: 'Close Line Chart',
                                    backgroundColor: 'rgb(255, 99, 132)',
                                    borderColor: 'rgb(255, 99, 132)',
                                    data: close_values,
                                    yAxisID: 'close'
                                },
                                {
                                    type: 'bar',
                                    label: 'Volume Bar Chart',
                                    backgroundColor: 'rgb(0,128,0)',
                                    borderColor: 'rgb(0,128,0)',
                                    data: volume,
                                    yAxisID: 'volume',

                                }
                            ],
                        };
                    stockChart = new Chart(
                        ctx,
                        config
                    );
                },
                error: function (error) {
                    console.log(`Error: ${error}`)
                }
            })
        }
        function toggleVolume() {
            showBar = true
            hideVolume = false
            stockChart.destroy()
            drawChart();
        }
        function changeLineColumn() {
            if (typeof (stockChart) != "undefined") stockChart.destroy()
            drawChart()
        }
        drawChart()
    </script>
</body>

</html>